@import url("../../../css/var.css");
@import url("../../../css/component.css");
::-webkit-scrollbar {
  background: var(--bg-black-3);
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background: var(--bg-black-2);
}
main {
  width: 100%;
  position: relative;
  overflow: hidden;
  position: relative;
  padding-top: 63px;
  min-height: 569px;
  display: flex;
  justify-content: space-between;
}
main .container-left {
  width: 20em;
  height: 35.5em;
  border-right: 0.1px solid var(--bg-hr);
  position: relative;
}
main .container-left .search-pack {
  width: 100%;
  height: 150px;
  border-bottom: 0.2px solid var(--bg-black-2);
  position: relative;
  /* gap: 1em; */
  display: flex;
  flex-direction: column;
}
main .container-left .search-pack div {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .container-left .search-pack div .left {
  font-size: 22px;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: var(--color-white-primary);
  margin: 5px;
}
main .container-left .search-pack div .right {
  width: 75px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .container-left .search-pack div .right span {
  width: 30px;
  height: 30px;
  margin: 2px;
  background: var(--bg-input-primary);
  font-size: 20px;
  color: var(--color-white-primary);
  cursor: pointer;
}
main .container-left .search-pack div .right span:hover {
  scale: 1.02;
  background: var(--bg-incoming-msg);
}

main .container-left .search-pack div .uenufbu {
  position: absolute;
  width: 25px;
  font-size: 20px;
  left: 5px;
  color: var(--bg-input-primary);
}
main .container-left .search-pack div input {
  width: 95%;
  height: 80%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: none;
  outline: none;
  padding-left: 30px;
  background: var(--bg-input-primary);
  color: var(--color-white-secondary);
  margin: 5px;
}
main .container-left .search-pack div input::-webkit-search-cancel-button {
  display: none;
}
main .container-left .search-pack .ueuzep {
  margin-top: 10px;
  color: var(--color-white-primary);
  position: relative;
}
main .container-left .search-pack .ueuzep div {
  width: 240px;
  height: 40px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  display: flex;
  justify-content: center;
  margin: 5px;
  position: relative;
}
main .container-left .search-pack .ueuzep div:hover {
  background: var(--bg-input-primary);
}
main .container-left .search-pack .ueuzep div span {
  width: 8px;
  height: 8px;
  background: var(--color-a-second);
  position: absolute;
  top: 0;
  right: 0px;
}
main .container-left .search-pack .ueuzep .active {
  color: var(--color-a-second);
  background: #0e28bb28;
  cursor: pointer;
}
main .container-left .search-pack .ueuzep .active:hover {
  background: #102dd442;
}
main .container-left section:last-child {
  width: 100%;
  height: 418px;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}
main .container-left section:last-child div {
  width: 98%;
  height: 60px;
  margin: 5px;
  position: relative;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}
main .container-left section:last-child div:hover {
  background: var(--bg-hr);
}
main .container-left section:last-child div .img {
  width: 50px;
  height: 50px;
  background: #000;
  position: relative;
  overflow: hidden;
}
main .container-left section:last-child div .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .container-left section:last-child div .data {
  width: 250px;
  height: 45px;
  flex-direction: column;
  color: var(--color-white-primary);
  margin: 0;
}

main .container-left section:last-child div .data span:first-child {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
}
main .container-left section:last-child div .data .msg {
  font-size: 15px;
  margin-top: -25px;
  color: var(--color-white-3);
}
main .container-left section:last-child div .unread {
  width: 15px;
  height: 15px;
  background: var(--bg-blue-2);
  position: absolute;
  right: 5px;
  top: 20px;
  display: none;
}
main .container-left section:last-child .new {
  color: white;
  font-weight: bold;
  background: var(--bg-black-2);
}
main .container-left section:last-child .new .unread {
  display: block;
}
main .container {
  /* width: 45rem; */
  width: 100%;
  height: 35.5em;
  border-right: 0.1px solid var(--bg-hr);
  margin: 0;
  position: relative;
}
main .container header {
  width: 100%;
  height: 60px;
  background: var(--bg-black-primary);
  margin-top: -5px;
  border-bottom: 0.5px solid var(--bg-black-secondary);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .container header .infos {
  width: 250px;
  height: 95%;
  position: relative;
  border-radius: 10x;
  -webkit-border-radius: 10x;
  -moz-border-radius: 10x;
  -ms-border-radius: 10x;
  -o-border-radius: 10x;
  display: flex;
}
main .container header .infos:hover {
  background: var(--bg-div-hover);
}
main .container header .infos img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  margin: 5px;
  border: 0.2px solid var(--bg-black-3);
}
main .container header .infos .data {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
main .container header .infos .data .name {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: var(--color-white-secondary);
}
main .container header .infos .data small,
main .container-right header small {
  color: var(--color-white-3);
  letter-spacing: 0.8px;
  line-height: 20px;
}
main .container header .infos .active {
  width: 10px;
  height: 10px;
  border: 0.5px solid var(--bg-black-3);
  background: var(--bg-green-online);
  position: absolute;
  left: 40px;
  top: 38px;
  display: none;
}
main .container header .infos .true {
  display: block;
}
main .container header .call {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
main .container header .call span {
  width: 30px;
  height: 30px;
  color: var(--bg-blue-2);
  font-size: 25px;
  cursor: pointer;
}
main .container header .call span:hover {
  background: var(--bg-input-secondary);
  scale: 1.02;
}
main .container .main,
main .container .await {
  width: 100%;
  height: 458px;
  overflow: hidden;
  overflow-y: scroll;
}
main .container form {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: -1px;
}
main .container form span {
  width: 30px;
  height: 30px;
  font-size: 25px;
  color: var(--bg-blue-2);
  cursor: pointer;
}
main .container form span:hover {
  background: var(--bg-hr);
}
main .container form .btn-list {
  height: 100%;
  width: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .container form button {
  width: 60px;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  text-align: center;
  font-size: 25px;
  color: var(--bg-blue-2);
  cursor: pointer;
}
main .container form input[type="text"] {
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: none;
  outline: none;
  font-size: 18px;
  color: var(--color-white-primary);
  padding: 0 30px 0 10px;
  background: var(--bg-input-secondary);
}
main .container form .span {
  margin-left: -30px;
  margin-top: -5px;
}
main .container .main .message {
  max-width: 700px;
  min-width: 250px;
  margin: 5px 0;
  display: flex;
  position: relative;
}
main .container .main .message p {
  max-width: 500px;
  min-width: 250px;
  line-height: 20px;
  color: var(--color-white-primary);
  border-radius: 10px;
  padding: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: var(--bg-incoming-msg);
}

main .container .main .message .profil {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #000;
  margin: 5px;
  position: relative;
}
main .container .main .message .profil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
main .container .main .send {
  margin: 5px 5px 5px 200px;
}
main .container .main .send p {
  border-radius: 10px 10px 0.1px 10px;
  -webkit-border-radius: 10px 10px 0.1px 10px;
  -moz-border-radius: 10px 10px 0.1px 10px;
  -ms-border-radius: 10px 10px 0.1px 10px;
  -o-border-radius: 10px 10px 0.1px 10px;
  background: var(--bg-sending-m);
}
main .container form .span:hover {
  background: none;
}

main .container-right {
  width: 35rem;
  height: 35.5em;
  position: relative;
}
main .container-right header {
  width: 100%;
  height: auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .container-right header .profil {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #000;
  position: relative;
}
main .container-right header .profil img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
}
main .container-right header .profil .span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid var(--bg-header);
  background: var(--bg-green-online);
  position: absolute;
  bottom: 2px;
  right: 8px;
}
main .container-right header h3 a {
  color: var(--color-white-secondary);
  text-decoration: none;
  letter-spacing: 0.5px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  margin: 5px;
}
main .container-right header h3 a:hover {
  text-decoration: underline;
}
main .container-right header .encryt {
  width: 200px;
  height: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: var(--bg-div-hover);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--color-white-primary);
  font-size: 14px;
}
main .container-right header .mini-config {
  width: 110px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
main .container-right header .mini-config div {
  width: 52px;
  height: 100%;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .container-right header .mini-config div span {
  width: 40px;
  height: 40px;
  background: var(--bg-div-hover);
  font-size: 20px;
  color: var(--color-white-primary);
  cursor: pointer;
}
main .container-right header .mini-config div span:hover {
  background: var(--bg-hr);
}
main .container-right header .mini-config div h5 {
  color: whitesmoke;
  line-height: 20px;
}
main .container-right .contenue {
  width: 100%;
  height: 405px;
  margin: 10px;
  position: relative;
}
main .container-right .contenue div {
  width: 85%;
  height: 48px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  align-items: center;
  color: whitesmoke;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
main .container-right .contenue div:hover {
  background: var(--bg-div-hover);
}

@media (max-width: 1065px) {
  .head .search,
  main .container-right {
    display: none;
  }
}
